# Nuxt
.nuxt
.output
.data
.env
.env.*
!.env.example

# Node
node_modules

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# Uploads (Bewerbungsanlagen etc.)
public/uploads

# IDE
.idea
.vscode
*.swp
*.swo
